.card {
  p {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #3b3b3b;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }

  &__cancel {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    cursor: pointer;
  }

  &__submit {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    cursor: pointer;
  }
}
